@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.titleBoxStyle {
  background-color: $white;
  height: 20vw;
  border-radius: 20px;
  width: 80vw;
  text-align: center;
  margin: 0 10vw;
  margin-top: -10vw;

  h1 {
    color: $gray;
    @extend %karla;
    font-weight: 400;
    padding-top: 2vw;
    font-size: 3vw;
  }

  @media screen and (max-width: 800px) {
    margin-top: -15vw;
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 4.5vw;
    }
  }
}

.aboutTitleBox {
  background-color: $white;
  height: 20vw;
  border-radius: 20px;
  width: 80vw;
  text-align: center;
  margin: 0 10vw;
  margin-top: -10vw;

  h1 {
    color: $gray;
    @extend %karla;
    font-weight: 400;
    padding-top: 5vw;
    font-size: 3vw;
  }

  @media screen and (max-width: 800px) {
    margin-top: -15vw;
    h1 {
        font-size: 4vw;
      }
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 4.5vw;
      padding-top: 7vw;
    }
  }
}
