@use '../../styles/placeholders' as *;
@use '../../styles/variables' as *;

.footerStyling{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $green;
    padding: 4vw 4vw;
    gap: 4vw;

    section{
        p{
            color: $pureWhite;
            @extend %karma;
            margin: 0.2vw;
            font-weight: 100;
            font-size: 1.2vw;

            a{
                color: $pureWhite;
                text-decoration: none;
            }
        }
    }

    .logoStyling{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div{
            background-color: $dustyGreen;
            width: 4.5vw;
            height: 4.5vw;
            display: flex;
            justify-content: center;
            border-radius: 50%;

            img{
                width: 3vw;
            }
        }

        h6{
            color: $pureWhite;
            @extend %marck;
            font-size: 1.5vw;
            font-weight: 100;
            margin: 0;
        }
    }
}