@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Karma:wght@300;400;500;600;700&family=Marck+Script&display=swap');

%marck{
    font-family: "Marck Script", cursive;
}

%karla{
    font-family: "Karla", sans-serif;
}

%karma{
    font-family: "Karma", serif;
}